* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  align-items:center;
  justify-content: center;
}

.contenedor {
  width: 25%;
  height: 75vh;
  background-color: white;
  border-radius: 20px;
  
}
.img {
  margin: 10px;
  max-width: 92%;
  border-radius: 10px;
}
.contenedor-texto {
  display: flex;
  height: 30%;
  margin: 0 1em;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.titulo {
  color: hsl(218, 44%, 22%);
  text-align: center;
}
.parrafo {
  color: hsl(220, 15%, 55%);
  text-align: center;
}

@media screen and (max-width: 376px) {
  .contenedor {
    width: 80%;
    height: 100vh;
    border-radius: 25px;

  }
  .img {
    margin: 12px;
    max-width: 93%;
    
  }
  .contenedor-texto {
    display: flex;
    height: 40%;
    margin: 0 1em;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  
}
